<br><br>
<table class="table table-striped table-dark">
    <thead>
        <td>#SNO</td>
        <td>Location</td>
        <td>date time</td>
        <td>temperature</td>
        <td>humidity</td>
        <td>wind speed</td>
        <td>rain fall</td>
    </thead>
    <body>
        <tr *ngFor="let record of weatherData, let i = index">
            <td>{{i+1}}</td>
            <td>{{record.location}}</td>
            <td>{{record.dateTime}}</td>
            <td>{{record.temperature}}</td>
            <td>{{record.humidity}}</td>
            <td>{{record.windSpeed}}</td>
            <td>{{record.rainFall}}</td>
        </tr>
    </body>
</table>