<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About My Projects</title>

</head>
<body>

    <div class="p-3 mb-2 bg-secondary-subtle text-secondary-emphasis">
        <h1 id="MyProjectsTag">My Projects</h1>
        <h3>Environment Data Analysis App</h3>
        <ul>
            <li>Frontend: <a href="https://github.com/VarakanthamSaiHruthikReddy975/Environmental_Data_Analysis-FrontEnd" target="_blank">GitHub Link</a></li>
            <li>Backend: <a href="https://github.com/VarakanthamSaiHruthikReddy975/Environmental_Data_Analysis" target="_blank">GitHub Link</a></li>
        </ul>
        <br>

        <h3>Banking App</h3>
        <ul>
            <li>Frontend: <a href="https://github.com/VarakanthamSaiHruthikReddy975/BankingApplication-Backend" target="_blank">GitHub Link</a></li>
            <li>Backend: <a href="https://github.com/VarakanthamSaiHruthikReddy975/BankingApplication-Frontend" target="_blank">GitHub Link</a></li>
        </ul>
        <br>
    
        <h3>Film Folio Website</h3>
        <ul>
            <li>Frontend: <a href="https://github.com/VarakanthamSaiHruthikReddy975/BankingApplication-Backend" target="_blank">GitHub Link</a></li>
            <li>Backend: <a href="https://github.com/VarakanthamSaiHruthikReddy975/BankingApplication-Frontend" target="_blank">GitHub Link</a></li>
        </ul>
        <br>
    </div>

  
</body>
</html>
